<%- include('partials/header', { title: "Landing Page" }) %>

  <h1>Welcome, <%= username %>!</h1>

  <% if (isAdmin) { %>
    <h2>All Registered Users:</h2>
    <table>
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <% USERS.forEach(user => { %>
          <tr>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <p>This is your user dashboard.</p>
  <% } %>

  <form action="/logout" method="POST">
    <button type="submit">Logout</button>
  </form>


<%- include('partials/footer') %>